<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增调查问卷库')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: summernote-css" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-questionnaire-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">企业名称：</label>
                <div class="col-sm-8">
                    <input name="companyName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">统一社会信用代码：</label>
                <div class="col-sm-8">
                    <input name="socialCreditCode" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属行业：</label>
                <div class="col-sm-8">
                    <input name="industry" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">上一年度营业收入：</label>
                <div class="col-sm-8">
                    <input name="priorYearIncome" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">海外销售区域包括：</label>
                <div class="col-sm-8">
                    <input name="overseasSalesArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">分别的营业收入占比为：</label>
                <div class="col-sm-8">
                    <input name="operatingIncomeRatio" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">员工人数：</label>
                <div class="col-sm-8">
                    <input name="employeesNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系姓名：</label>
                <div class="col-sm-8">
                    <input name="contactName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系电话：</label>
                <div class="col-sm-8">
                    <input name="contactMobile" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">电子邮箱：</label>
                <div class="col-sm-8">
                    <input name="email" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">云服务器：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="cloudServer">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">IP地址：</label>
                <div class="col-sm-8">
                    <input name="ip" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">带宽：</label>
                <div class="col-sm-8">
                    <input name="bandwidths" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">运营商：</label>
                <div class="col-sm-8">
                    <input name="operator" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否存在网络拓扑图：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="networkTopology">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">附件上传地址：</label>
                <div class="col-sm-8">
                    <input type="hidden" name="networkTopologyPath">
                    <div class="file-loading">
                        <input class="form-control file-upload" id="networkTopologyPath" name="file" type="file">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">外网区：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="extranetArea">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">DMZ区：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="dmzArea">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">内网区：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="intranetArea">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">办公区：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="officeArea" >
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">运维区：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="operationArea">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">工业区：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="industrialZone">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">单位使用的IP段及其用途：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="ipSegment">
                    <div class="summernote" id="ipSegment"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">防火墙是否存在：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isFirewalls">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">防火墙品牌：</label>
                <div class="col-sm-8">
                    <input name="firewallsBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">防火墙上线日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="firewallsDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">防火墙是否在保：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isFirewallsInnocence">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据库审计系统是否存在：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isDatabaseAudits">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据库审计系统品牌：</label>
                <div class="col-sm-8">
                    <input name="databaseAuditsBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据库审计系统上线日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="databaseAuditsDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据库审计系统是否在保：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isDatabaseAuditsInnocence">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">日志审计系统是否存在：</label>
                <div class="col-sm-8">
                    <input name="isLogAudit" class="form-control" type="text">
                </div>
                <div class="col-sm-8">
                    <select class="form-control" name="isLogAudit">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">日志审计系统品牌：</label>
                <div class="col-sm-8">
                    <input name="logAuditBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">日志审计系统上线日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="logAuditDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">日志审计系统是否在保：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isLogAuditInnocence">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">堡垒机是否存在：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isCitadel">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">堡垒机品牌：</label>
                <div class="col-sm-8">
                    <input name="citadelBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">堡垒机上线日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="citadelDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">堡垒机是否在保：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isCitadelInnocence">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">态势感知是否存在：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isSituational">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">态势感知品牌：</label>
                <div class="col-sm-8">
                    <input name="situationalBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">态势感知上线日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="situationalDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">态势感知是否在保：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isSituationalInnocence">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">WAF是否存在：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isWaf">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">WAF品牌：</label>
                <div class="col-sm-8">
                    <input name="wafBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">WAF上线日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="wafDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">WAF是否在保：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isWafInnocence">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">漏洞扫描是否存在：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isScan">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">漏洞扫描品牌：</label>
                <div class="col-sm-8">
                    <input name="scanBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">漏洞扫描上线日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="scanDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">漏洞扫描是否在保：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isScanInnocence">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">EDR是否存在：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isEdr">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">EDR品牌：</label>
                <div class="col-sm-8">
                    <input name="edrBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">EDR上线日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="edrDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">EDR是否在保：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isEdrInnocence">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">蜜罐是否存在：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isPrivilegedEnv">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">蜜罐品牌：</label>
                <div class="col-sm-8">
                    <input name="privilegedEnvBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">蜜罐上线日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="privilegedEnvDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">蜜罐是否在保：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isPrivilegedEnvInnocence">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">网闸是否存在：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isInternetAccess">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">网闸品牌：</label>
                <div class="col-sm-8">
                    <input name="internetAccessBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">网闸上线日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="internetAccessDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">网闸是否在保：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isInternetAccessInnocence">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">上网行为管理设备是否存在：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isInternetDevice">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">上网行为管理设备品牌：</label>
                <div class="col-sm-8">
                    <input name="internetDeviceBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">上网行为管理设备上线日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="internetDeviceDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">上网行为管理设备是否在保：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isInternetDeviceInnocence">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">杀毒软件是否存在：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isAntiSoftware">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">杀毒软件品牌：</label>
                <div class="col-sm-8">
                    <input name="antiSoftwareBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">杀毒软件上线日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="antiSoftwareDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">杀毒软件是否在保：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isAntiSoftwareInnocence">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">探针是否存在：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isProbes">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">探针品牌：</label>
                <div class="col-sm-8">
                    <input name="probesBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">探针上线日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="probesDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">探针是否在保：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="isProbesInnocence" >
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">安全设备其他：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="safetyOther">
                    <div class="summernote" id="safetyOther"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">请列出您所在单位现有的网络安全专业从业人员情况：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="cyberSecurity">
                    <div class="summernote" id="cyberSecurity"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">请列出您所在单位现有的硬件服务器设备及用途：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="hardwareRes">
                    <div class="summernote" id="hardwareRes"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">办公系统（例如，OA办公、ERP、SAP等）：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="officeRes">
                    <div class="summernote" id="officeRes"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">业务系统（例如，客户关系系统、商城系统、服务客户业务系统等）：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="businessRes">
                    <div class="summernote" id="businessRes"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">辅助系统（例如，系统维护系统、决策支持、物资管理、BI系统等）：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="ancillaryRes">
                    <div class="summernote" id="ancillaryRes"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">传呼系统：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="pagingSystem">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">短信系统：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="messageSystem">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">环保系统：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="environmentalSystem">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他外部系统 其他：</label>
                <div class="col-sm-8">
                    <input name="externalSystemOther" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">门户网站：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="webPortal">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">互联网业务站点：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="internetBusinessSite">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">支付宝小程序：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="aliPay">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">微信小程序：</label>
                <div class="col-sm-8">
                    <select class="form-control"  name="wechatPay" >
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">微信公众号：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="wechatPublicNumber">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">外部业务系统 其他：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="externalSystemBusOther">
                    <div class="summernote" id="externalSystemBusOther"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">您所在单位是否提供无线局域网环境：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="unlimitedNetwork">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">自助机：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="selfServiceMachine">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">扫码一体机：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="scanningMachine">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">PAD设备：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="padDevice">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">手持遥控设备：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="handheldDevice">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">辅助设备其他：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="ancillaryDeviceOther">
                    <div class="summernote" id="ancillaryDeviceOther"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">如存在联网辅助设备，请列出具体设备名称：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="ancillaryDeviceOtherEre">
                    <div class="summernote" id="ancillaryDeviceOtherEre"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">等保系统1名称：</label>
                <div class="col-sm-8">
                    <input name="equalProtectionSystemA" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">等保等级1保护建设情况：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="equalProtectionSystemADetail">
                    <div class="summernote" id="equalProtectionSystemADetail"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">等保系统2名称：</label>
                <div class="col-sm-8">
                    <input name="equalProtectionSystemB" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">等保等级2保护建设情况：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="equalProtectionSystemBDetail">
                    <div class="summernote" id="equalProtectionSystemBDetail"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">等保系统3名称：</label>
                <div class="col-sm-8">
                    <input name="equalProtectionSystemC" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">等保等级3保护建设情况：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="equalProtectionSystemCDetail">
                    <div class="summernote" id="equalProtectionSystemCDetail"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">网络安全服务情况：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="cybersecurityServices">
                    <div class="summernote" id="cybersecurityServices"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">网络安全情报订阅情况：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="cybersecurityServicesSub">
                    <div class="summernote" id="cybersecurityServicesSub"></div>
                </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-3 control-label">建立安全管理制度：</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="secInfo1">
                            <option value="">请选择</option>
                            <option value="是">是</option>
                            <option value="否">否</option>
                        </select>
                    </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">有专人负责IT安全：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo2">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">贵公司有设定不同的安全岗位职责：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo3">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">定期更新系统补丁：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo4">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物理安全区域部署安防设备：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo5">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">机房有相关管控措施：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo6">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">清晰的管理员账户清单并且严格控制管理员权限：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo7">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公司在网络边界处部署防火墙等设备：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo8">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">部署抗DDoS设备或云防：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo9">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">严格限制网络端口、通讯协议及系统服务：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo10">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">业务重要性或敏感性对网络进行分区管理（VLAN）：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo11">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所有外部远程访问实现加密措施：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo12">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">信息系统安装安全防护软件：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo13">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">对重要业务数据进行定期备份：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo14">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">在终端部署软件对USB和其他外设的使用进行监控：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo15">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">建立人员离岗管理制度,员工离职后终止访问权限：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo16">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">贵公司针对安全团队有定期(每年至少1次)安全技能培训：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo17">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">贵公司针对全体员工有定期：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo18">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">通过相关信息安全管理体系认证(ISO 27001)：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo19">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">近一年内重要信息系统通过等级保护测评：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo20">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">电子邮件采取安全防护措施：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo21">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">集中监控和管理信息系统的计算和存储资源：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="secInfo22">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <th:block th:include="include :: summernote-js" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: bootstrap-select-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/questionnaire"
        $("#form-questionnaire-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-questionnaire-add').serialize());
            }
        }

        $("input[name='firewallsDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='databaseAuditsDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='logAuditDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='citadelDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='situationalDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='wafDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='scanDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='edrDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='privilegedEnvDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='internetAccessDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='internetDeviceDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='antiSoftwareDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='probesDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='updatedTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(".file-upload").fileinput({
            uploadUrl: ctx + 'common/upload',
            maxFileCount: 1,
            autoReplace: true
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })

        $(function() {
            $('.summernote').summernote({
                lang: 'zh-CN',
                dialogsInBody: true,
                callbacks: {
                    onChange: function(contents, $edittable) {
                        $("input[name='" + this.id + "']").val(contents);
                    },
                    onImageUpload: function(files) {
                        var obj = this;
                    	var data = new FormData();
                    	data.append("file", files[0]);
                    	$.ajax({
                            type: "post",
                            url: ctx + "common/upload",
                    		data: data,
                    		cache: false,
                    		contentType: false,
                    		processData: false,
                    		dataType: 'json',
                    		success: function(result) {
                    		    if (result.code == web_status.SUCCESS) {
                    		        $('#' + obj.id).summernote('insertImage', result.url);
                    		    } else {
                    		        $.modal.alertError(result.msg);
                    		    }
                    		},
                    		error: function(error) {
                    		    $.modal.alertWarning("图片上传失败。");
                    		}
                    	});
                    }
                }
            });
        });
    </script>
</body>
</html>